<div class="container">
        <img src="./assets/images/hair-dryer.png" class="image-container ml">
        <img src="./assets/images/furniture-and-household.png" class="image-container ml5">
        <img src="./assets/images/water-pipe.png" class="image-container ml5" >
        <img src="./assets/images/spa.png" class="image-container ml5">
        <img src="./assets/images/gym.png" class="image-container ml5">
        <img src="./assets/images/functions.png" class="image-container ml5">
        <div class="ml20">
        <span>Salon at Home</span>
        <span style=" margin-left: 6%;">Cleaning</span>
        <span style="margin-left:8%">Plumber</span>
        <span style="margin-left:6%">Massage at Home</span>
        <span style="margin-left:4%">Gym & Yoga</span>
        <span style="margin-left:6%">Electronics Repair</span>
      
        </div>
</div>