<app-header></app-header>
<div class="container">
    <div class="profile">
        <img src="./assets/images/profile.png" height="150" width="150">
    </div>
    <h1 class="name" *ngIf="userProfileData?.first_name">{{userProfileData?.first_name |titlecase}} {{userProfileData?.middle_name |titlecase}} {{userProfileData?.last_name |titlecase}}</h1>
    <h2 class="name" *ngIf="userProfileData?.email">Email : {{userProfileData?.email}}</h2>
    <h2 class="name" *ngIf="userProfileData?.address">Address : {{userProfileData?.address |titlecase}}</h2>
    <h2 class="name" *ngIf="userProfileData?.phone_no">Phone No : {{ userProfileData?.phone_code }} {{userProfileData?.phone_no}}</h2>
</div>

<app-footer></app-footer>