<!-- <div class="wrapper">
    <div class="left-wrapper">
        <div class="fl">
          
            <h2 class="ff">FORGOT PASSWORD</h2>

            <h3> Please Enter Your Registered E-mail Id </h3>

            <form [formGroup]="forgetForm" (ngSubmit)="forgetForm.valid && forget()">

                <mat-form-field appearance="outline" class="m20">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="E-mail" formControlName="email">
                    <mat-error *ngIf="getControl('email').hasError('required')">{{FORGET_ERROR.email_required}}
                    </mat-error>
                    <mat-error *ngIf="getControl('email').hasError('pattern')">{{FORGET_ERROR.email_pattern}}
                    </mat-error>
                </mat-form-field><br/>
                <div class="example-button-row">
                    <button mat-raised-button type="submit" color="primary">Submit</button>
                    <button mat-raised-button color="primary" style="margin-left: 80px;" (click)="loginNavigate()">Back</button>
                </div>
            </form>
            <div *ngIf="myerr">
                <p id="msgerr">{{erro}}</p>
            </div>
        </div>
        <div class="bgimg">
            <div>
                <img class="dimension" src="./assets/images/d1.jpeg">
            </div>
        </div>
    </div>
</div> -->




<div class="wrapper">
    <div class="left-wrapper">
        <div>
            <img class="dimension" src="./assets/images/group1.png">
        </div>
        <div class="bgimg">
            

            <mat-card class="bgpop">

                <mat-card-header class="ml-40">
                    <mat-card-title class="hello">
                   
                    </mat-card-title>
                    <mat-card-subtitle>
                        <h2 class="ff">FORGOT PASSWORD</h2>
                    
                    <h3 class="ri"> Please Enter Your Registered E-mail Id </h3>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="ml-40">
                <form [formGroup]="forgetForm" style="margin-left: 16px;" (ngSubmit)="forgetForm.valid && forget()">
                
                    <mat-form-field appearance="outline" class="m20">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="E-mail" formControlName="email">
                        <mat-error *ngIf="getControl('email').hasError('required')">{{FORGET_ERROR.email_required}}
                        </mat-error>
                        <mat-error *ngIf="getControl('email').hasError('pattern')">{{FORGET_ERROR.email_pattern}}
                        </mat-error>
                    </mat-form-field><br />
                    <div class="example-button-row">
                        <button mat-raised-button type="submit" color="primary">Submit</button>
                        <button mat-raised-button color="primary" style="margin-left: 145px;" (click)="loginNavigate()">Back</button>
                    </div>
                </form>
                <div *ngIf="myerr">
                    <p id="msgerr">{{erro}}</p>
                </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

