<app-header></app-header>
<div class="container" [style.background-image]="getBackgroundUrl()">
    <div class="mid-container">
        <!-- <div [style.background]="'url(/images/' + trls.img + ')'"></div> -->
                <h1 class="fc">{{productDetail?.title}}</h1>
                <ul class="mt-45" *ngFor="let detail of productDetail?.detail">
                    <li class="fs">{{detail}}</li>
                </ul>
        <div class="right">
            <h2 class="fc">Where are you ?</h2>
            <app-reusable-form></app-reusable-form>
        </div>
    </div>
    </div>
<div class="mt15">

<mat-tab-group dynamicHeight class="ml-200">
    <mat-tab label=" How it Works">
        <div class="example-small-box mat-elevation-z4">
            <mat-card>
            <h3>How it Works</h3>
            </mat-card>
        </div>
        <app-requirements></app-requirements>
    </mat-tab>

    <mat-tab label="Professionals">
        <div class="example-small-box mat-elevation-z4">
            <mat-card>
            <h3>Professionals</h3>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Customer's Review">
        <div class="example-small-box mat-elevation-z4">
            <mat-card>
            <h3>Customer's Review</h3>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Blog">
        <div class="example-small-box mat-elevation-z4">
            <mat-card>
            <h3>Blog</h3>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="FAQ">
        <div class="example-small-box mat-elevation-z4">
            <mat-card>
            <h3>FAQ</h3>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Hiring Guide">
        <div class="example-small-box mat-elevation-z4">
            <mat-card>
            <h3>Hiring Guide</h3>
            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>
</div>
<app-footer></app-footer>