
<div class="flex-container">
    <div class="contained">
        <img src="./assets/images/sports-and-competition.png" class="img1">
        <h4>High Quality & Trusted Professional</h4>
        <p>We provide only verfied , background check & high quality Professional</p>
    </div>
    <div class="contained">
        <img src="./assets/images/add.png" class="img1">
        <h4>Match to Your Needs</h4>
        <p>We match you with the right Professional with the right <br/> budget</p>
    </div>
    <div class="contained">
        <img src="./assets/images/like.png" class="img1">
        <h4>Hassle  free Service Delivery</h4>
        <p>Super Convenient guaranteed service from booking to <br/> delivery</p>
    </div>
</div>

<div class="flex-container">
    <div class="container">
        <div class="ml300">
        <h1>5 MILLION</h1>  
        <p>Customer Served</p>
     </div>
     </div>
    <div class="container">
        <div>
        <h1>25000 </h1>
        <p>Trained Professional</p>
    </div>
    </div>
    <div class="container">
        <div class="mr300">
        <h1>4.7</h1>
        <p>Average Rated</p>
        </div>
    </div>
</div>
<div class="related">
    <div>
    <h1 class="cl">Related Services in Delhi</h1>
    </div>
<ul class="ml200">
    <li><a class="active">Carpenter</a></li>
    <li><a>Electrician</a></li>
    <li><a>Packers & Movers</a></li>
    <li><a>Hairstyle & makeup</a></li>
    <li><a>Bathroom Deep Cleaning</a></li>
    <li><a>Massage for Men</a></li>
    <li><a>Pest Control</a></li>
</ul>

<ul class="ml200">
    <li><a class="active">Home Deep Cleaning</a></li>
    <li><a>Kitchen Deep Cleaning</a></li>
    <li><a>Sofa Cleaning</a></li>
    <li><a>RO & Water Purifier Repair</a></li>
    <li><a>Salon at Home</a></li>
    <li><a>Spa at Home For Women</a></li>
</ul>

</div>

<div class="last">

    <ul style="background-color : black ; margin-left: 200px; cursor: pointer">
        <li><a class="active">About Us</a></li>
        <li><a>Terms & Condition</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Blog</a></li>
        <li><a>Reviews</a></li>
        <li><a>Near Me</a></li>
        <li><a>Career</a></li>
        <li><a>Contact Us</a></li>
    </ul>

</div>
