<app-header></app-header>


<div class="container">
    <div class="mid-container">
    <img src="./assets/images/become.png" class="contain">
        <!-- <h1 class="fc">Your Service Expert In Delhi</h1>
        <h2 class="fc">Get instant access to reliable and affordable services</h2> -->

        <div class="search-container" style="margin-top: 20px">
                <h1 class="myhead" style="margin-bottom: -20px;">Expand your Service</h1>
                <h1 class="myhead">Business with AMIGO</h1>
            <p class="sendlink">Send a link via SMS to download and install Amigo Partner App</p>
        </div>
    </div>
</div>

<mat-card class="bb">
    <p class="tac">Why Become An AMIGO Partner ?</p>
    <div class="flex-container">
        <div class="container-wrap">
            <div class="ml300">
                <img src="./assets/images/Icon-2.png">
                <h3>Grow your Business</h3>
                <p>Get new customers looking for service professionals like you</p>
            </div>
        </div>
        <div class="container-wrap">
            <div class='ml300'>
                <img src="./assets/images/Icon-1.png">
                <h3>Work on your own terms </h3>
                <p>Quote your own price and choose the customer requests that interest you</p>
            </div>
        </div>
        <div class="container-wrap">
            <div>
                <img src="./assets/images/Icon-3.png">
                <h3>Business Tools</h3>
                <p>Get business tools like online payment and invoicing</p>
            </div>
        </div>
    </div>
</mat-card>


<div class="wrap-new">
    <p class="tac">How Amigo Works ?</p>
<div class="flex-container">
    
    <div class="container-wrap">
        <div class="ml300">
            <h1>1</h1>
            <!-- <img src="./assets/images/Icon-2.png"> -->
            <h3>Get Verifield Customer Request</h3>
            <p>Get connected with customers looking for your service</p>
        </div>
    </div>
    <div class="container-wrap">
        <div class='ml300'>
            <h1>2</h1>
            <!-- <img src="./assets/images/Icon-1.png"> -->
            <h3>Send Quotes </h3>
            <p>Reply to customer leads that match your interests and qualifications</p>
        </div>
    </div>
    <div class="container-wrap">
        <div>
            <h1>3</h1>
            <!-- <img src="./assets/images/Icon-3.png"> -->
            <h3>Chat and get hired</h3>
            <p>Chat with the customers, finalise the quotes and get hired</p>
            </div>
        </div>
    </div>
</div>




<app-footer></app-footer>