<div class="bgcol">
<app-header></app-header>

<mat-card class="bb">
    <h2 class="tac">About Us</h2>
</mat-card>

<mat-card class="mtcar">
    <h2 class="tac">What is Amigo ?</h2>
    <p class="abt">Amigo is recognized as the fastest-growing startup in India. We are a mobile marketplace for local services. We help
    customers hire trusted professionals for all their service needs. We are staffed with young, passionate people working
    tirelessly to make a difference in the lives of people by catering to their service needs at their doorsteps. We provide
    housekeeping services which consist of Plumbers, Electricians, Carpenters, Cleaning and Pest Control. We also provide
    personal services like beauty, spa, mobile and other appliance repairs etc. Be it getting a plumbing job done, improving
    your fitness through yoga, learning to play the guitar, decorating your home or getting candid photos of your wedding
    clicked, we are a sure shot destination for your service needs.</p>

    <h2 class="tac" style="margin-top:50px">Our Growth story so far...</h2>

<div class="flex-container" style="margin-top: 60px">
    <div class="container">
        <div class="ml300">
            <h2>50,00,000+</h2>
            <p>Customer Served</p>
        </div>
    </div>
    <div class="container">
        <div>
            <h2>25000+</h2>
            <p>Trained Professional</p>
        </div>
    </div>
    <div class="container">
        <div class="mr300">
            <h2>17+</h2>
            <p>Cities</p>
        </div>
    </div>
</div>

<p class="abt">You could be a part of our journey. Interested?</p>
<div class="example-button-row" style="text-align: center">
    <button mat-raised-button color="primary">Apply Now</button>
 </div>

<h2 class="tac">Meet the visionaries</h2>

<div class="flex-container">
    <div class="contained">
        <img src="./assets/images/ben.png" class="img1">
        <h4 class="abt">Mayank kushwaha</h4>
        <p class="tac">Mayank is responsible for operations and service provider on-boarding at Amigo, he is developer at Appinventiv Noida ,India. He holds a B.Tech in
        Computer Science Engineering from MAIET,Jaipur.When not busy at the Amigo,Mayank enjoys
        immersing himself in interesting experiences be it running marathons , had wishes like Paragliding , Road trips to Ladakh and other places.</p>
    </div>
    <div class="contained">
        <img src="./assets/images/noddy.jpeg" class="img1">
        <h4 class="abt">Pradeep Rawat</h4>
    <p class="tac">Mayank is responsible for operations and service provider on-boarding at Amigo, he is developer at
        Appinventiv Noida ,India. He holds a B.Tech in
        Computer Science Engineering from MAIET,Jaipur.When not busy at the Amigo,Mayank enjoys
        immersing himself in interesting experiences be it running marathons , had wishes like Paragliding , Road trips to
        Ladakh and other places.</p>
    </div>
    <div class="contained">
        <img src="./assets/images/jerry.jpg" class="img1">
        <h4 class="abt" style="margin-top: 70px;">Jerry Paaji</h4>
    <p class="tac">Mayank is responsible for operations and service provider on-boarding at Amigo, he is developer at
        Appinventiv Noida ,India. He holds a B.Tech in
        Computer Science Engineering from MAIET,Jaipur.When not busy at the Amigo,Mayank enjoys
        immersing himself in interesting experiences be it running marathons , had wishes like Paragliding , Road trips to
        Ladakh and other places.</p>
    </div>
</div>

<h2 class="tac">Our Investors</h2>


<div class="flex-container">
    <div class="contained">
        <img src="./assets/images/shree.png" class="img1">
    </div>
    <div class="contained">
        <img src="./assets/images/ambuja.jpg" class="img1">
    </div>
    <div class="contained">
        <img src="./assets/images/ultratech.jpeg" class="img1">
    </div>
    <div class="contained">
        <img src="./assets/images/sbi.jpeg" class="img1">
    </div>
</div>

</mat-card>

<app-footer></app-footer>
</div>