
<div class="container">
    <!-- <div *ngFor="let image of imageData"> -->
    <img class="myimage" [src]="imageData" height="140px" width="269px">
    <!-- <img src="./assets/images/shift2.jpeg" class="img-contain" height="140px" width="269px">
    <img src="./assets/images/shift3.jpeg" class="img-contain" height="140px" width="269px">
    <img src="./assets/images/shift4.jpeg" class="img-contain" height="140px" width="269px">
</div> -->
</div>

<div class="ml20">

    <div [innerHTML]="heading"></div>
    <!-- <span [routerLink]="[healthLink[1]]" style=" margin-left: 11%;">Fitness Trainer At Home</span>
    <span [routerLink]="[healthLink[2]]" style="margin-left:11%">Dietician At Door</span>
    <span [routerLink]="[healthLink[3]]" style="margin-left:12%">Salon at Home for Women</span>
    -->
</div>