.container{
    display:flex;
    margin-left:135px;
    margin-bottom: 30px;
}

.img-container{
      margin-left: 10%;
      border-radius: 4px;
          margin-right: -110px;
      background-color: #fff;
}

.fs{
     margin-left: 16.5%;
    font-family: 'Times New Roman', Times, serif
}

.img-contain{
      margin-left: 35px;
      border-radius: 4px;
      background-color: #fff;
}

.ml20{
        text-align: center;
    margin-left: 120px;
}

.myimage:hover{
        box-shadow: 5px 5px 5px #666060;
        cursor: pointer;
}
